footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    background-color:black;
    color: bisque;
    padding: 60px 8% 30px;
    font-family: 'Poppins', sans-serif;
}
.logo-footer {
    flex: 1 1 250px;
}

.logo-footer p {
    color: #f54a4a;
    font-size: 16px;
    line-height: 1.6;
}
.footer-column {
    flex: 1 1 160px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: bisque;
    position: relative;
    padding-bottom: 10px;
}

.footer-column h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: #780B0B;
    border-radius: 2px;
}

.footer-column a {
    display: block;
    color: bisque;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 14px;
    transition: 0.3s ease;
}

.footer-column a:hover {
    color: #780B0B;
    padding-left: 5px;
}
.subscribe {
    flex: 1 1 280px;
}

.subscribe h3 {
    font-size: 18px;
    color: bisque;
    margin-bottom: 20px;
}

.subscribe-box {
    display: flex;
    margin-bottom: 20px;
}

.subscribe-box input {
    flex: 1;
    padding: 12px 15px;
    border: none;
    border-radius: 6px 0 0 6px;
    outline: none;
    font-size: 14px;
}

.subscribe-box button {
    background-color:#780B0B;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.subscribe-box button:hover {
    background-color:#780B0B;
}

.payment {
    display: flex;
    gap: 15px;
}

.payment span {
    background-color: #780B0B;
    padding: 6px 14px;
    border-radius: 5px;
    font-size: 13px;
    color: bisque;
}
